Repository lzim/teampsd, pull requests merged in 2019-07, with the labels that each got.

#449 tt report formatting and instructions update
  quant_workgroup/tt_report/README.md
  quant_workgroup/tt_report/mtl_menu.csv
  quant_workgroup/tt_report/mtl_menu.md
  quant_workgroup/tt_report/p_chart.md
  quant_workgroup/tt_report/p_chart.pdf
  quant_workgroup/tt_report/sim_ui_experiments_agg.md
  quant_workgroup/tt_report/sim_ui_experiments_cc.md
  quant_workgroup/tt_report/sim_ui_experiments_mm.md
  quant_workgroup/tt_report/sim_ui_experiments_psy.md
  quant_workgroup/tt_report/sim_ui_experiments_sp.md
  quant_workgroup/tt_report/team_data_table_all_modules.md
  quant_workgroup/tt_report/tt3_agg.md
  quant_workgroup/tt_report/tt3_cc.md
  quant_workgroup/tt_report/tt3_mm.md
  quant_workgroup/tt_report/tt3_psy.md
  quant_workgroup/tt_report/tt3_sp.md
Labels: quant

#380 Update mtl_session05_say.md
  mtl_facilitate_workgroup/facilitator_say/mtl_session05_say.md
Labels: code_review

#454 Add code to adjust p-chart var label
  quant_workgroup/tt_report/tt3_agg.md
  quant_workgroup/tt_report/tt3_cc.md
  quant_workgroup/tt_report/tt3_mm.md
  quant_workgroup/tt_report/tt3_psy.md
  quant_workgroup/tt_report/tt3_sp.md
Labels: tt_report
