Repository lzim/teampsd, pull requests merged in 2019-09, with the labels that each got.

#617 Add files via upload
  model_workgroup/models/mtl_1.8_models/agg_v15_2019_06_14.mdl
  model_workgroup/models/mtl_1.8_models/cc_v36_2019_09_04.mdl
  model_workgroup/models/mtl_1.8_models/mm_v36_2019_09_04.mdl
  model_workgroup/models/mtl_1.8_models/sp_v4_2019_08_26.mdl
Labels: document, model

#598 team_tracker_template.md
  issue_templates/team_tracker_template.md
Labels: document, facilitate

#629 mtl_session7_say_1pg.md
  mtl_facilitate_workgroup/facilitator_say/mtl_session07_say_1pgr.md
Labels: document, facilitate

#635 Update mtl_session07_see.md
  mtl_facilitate_workgroup/learner_see/mtl_session07_see.md
Labels: document

#710 Update mtl_session07_say.md
  mtl_facilitate_workgroup/facilitator_say/mtl_session07_say.md
Labels: document

#721 Update team_tracker checklist with s08 draft & edit s08 say checklist for typos
  issue_templates/team_tracker_template.md
  mtl_facilitate_workgroup/facilitator_say/mtl_session08_say_checklist.md
Labels: facilitate

#730 updates to pre/post checklist
  mtl_facilitate_workgroup/checklists/post_meeting_checklist.md
  mtl_facilitate_workgroup/checklists/pre_meeting_checklist.md
Labels: facilitate

#737 Update team_tracker_template.md
  issue_templates/team_tracker_template.md
Labels: document, facilitate
