Repository lzim/teampsd, pull requests merged in 2019-08, with the labels that each got.

#498 migrated learner say guides from mtl.how
  mtl_facilitate_workgroup/learner_see/README.md
  mtl_facilitate_workgroup/learner_see/mtl_session01_see.md
  mtl_facilitate_workgroup/learner_see/mtl_session02_see.md
  mtl_facilitate_workgroup/learner_see/mtl_session03_see.md
  mtl_facilitate_workgroup/learner_see/mtl_session04_see.md
  mtl_facilitate_workgroup/learner_see/mtl_session05_see.md
  mtl_facilitate_workgroup/learner_see/mtl_session06_see.md
  mtl_facilitate_workgroup/learner_see/mtl_session07_see.md
  mtl_facilitate_workgroup/learner_see/mtl_session08_see.md
  mtl_facilitate_workgroup/learner_see/mtl_session09_see.md
  mtl_facilitate_workgroup/learner_see/mtl_session10_see.md
  mtl_facilitate_workgroup/learner_see/mtl_session11_see.md
  mtl_facilitate_workgroup/learner_see/mtl_session12_see.md
Labels: facilitate_workgroup

#472 Update mtl_session04_say.md
  mtl_facilitate_workgroup/facilitator_say/mtl_session04_say.md
Labels: code_review

#566 + file upload instruction, - module-specific info
  mtl_facilitate_workgroup/learner_see/mtl_session05_see.md
Labels: code_review, documentation, facilitate_workgroup, urgent

#568 Update mtl_session05_say.md
  mtl_facilitate_workgroup/facilitator_say/mtl_session05_say.md
Labels: code_review, facilitate_workgroup

#569 Update mtl_session05_say.md
  mtl_facilitate_workgroup/facilitator_say/mtl_session05_say.md
Labels: code_review, documentation, facilitate_workgroup, guide, urgent

#611 Updates per issue #595
  quant_workgroup/tt_report/tt3_agg.md
  quant_workgroup/tt_report/tt3_cc.md
  quant_workgroup/tt_report/tt3_mm.md
  quant_workgroup/tt_report/tt3_psy.md
  quant_workgroup/tt_report/tt3_sp.md
Labels: tt_report
